<?xml version="1.0"?>
<config>
	<modules>
		<Trendmarke_Validatezip>
			<version>1.0.0</version>
		</Trendmarke_Validatezip>
	</modules>
	<global>
		<helpers>
			<validatezip>
				<class>Trendmarke_Validatezip_Helper</class>
			</validatezip>
		</helpers>
		<blocks>
			<validatezip>
				<class>Trendmarke_Validatezip_Block</class>
			</validatezip>
		</blocks>
	</global>
	<frontend>
		<layout>
			<updates>
				<validatezip>
					<file>validatezip.xml</file>
				</validatezip>
			</updates>
		</layout>
		<routers>
			<trendmarke_validatezip>
				<use>standard</use>
				<args>
					<module>Trendmarke_Validatezip</module>
					<frontName>tr_validatezip</frontName>
				</args>
			</trendmarke_validatezip>
		</routers>
	</frontend>
</config> 